{% extends 'cvul/base.html' %}

{% block content %}



<form action=" " method="POST">
    {% csrf_token %}
    <label for="inputPassword5" class="form-label">CV Key provided by Dev</label>
    <input type="text" id="inputCvKey" class="form-control" aria-describedby="cvKeyHelpBlock" name="inputCvKey" placeholder='Insert here the key from dev...'>
    <hr>
    <div id="passwordHelpBlock" class="form-text text-white">
        To be enable to download my CV, please contact me via LinkedIn (see the cover page) and request an
        one-off CV key.
    </div>

</form>
<hr>

    {% if downloadready %}
        <a href="{% url 'download-cv' %}" ><button type="button" class="btn btn-primary pt-2" >Download CV</button></a>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}