{% extends 'cvul/base.html' %}

{% block content %}

    <h1>VRAICA WAS HERE.</h1>
    <p class="lead">A POC project using Django & Gunicorn & Nginx on Linode & Namecheap.</p>
    <p class="lead">
      <a href="{% url 'cv-page' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Request my CV</a>
    </p>

    <section class="py-1 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <a href="https://linkedin.com/in/valiraica" class="btn btn-primary my-2">Check my LinkedIn profile.</a>
            <a href="https://github.com/vraica-dev" class="btn btn-secondary my-2">Check my GitHub repos.</a>
          </p>
        </div>
      </div>
    </section>

{% endblock %}